{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
    <!--self css-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/indexstyle.css' %}">
    <!--bootstrap-css-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">

    <title>Home</title>
    <style>
      .footer{
        background-color: rgb(123, 135, 238);
      }
        
    </style>
    
</head>
<body style="background-color: rgb(201, 229, 238)">
  <div  class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">EasyJobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          {% if user.is_authenticated %}
          <li style="color:rgb(245, 141, 57);font-size: 24px;">  Welcome {{ user.first_name }}</li>

          
      
       
          <li class="nav-item">
            <a class="nav-link" href="{%url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'show' %}">Apply Here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'logout' %}">LogOut</a>
          </li>
          
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Applicant
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'login' %}">Login</a>
              <a class="dropdown-item" href="{%url 'register' %}">Signup</a>
              
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'company' %}">Company</a>
          </li>
          {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="POST"> 
            {% csrf_token %}
       
          <input class="form-control mr-sm-2" name="srh" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
<div class="banner"><!--banner-->
<img src="{% static 'images/about.jpg' %}" alt="banner" style="width: 100%;">
</div>
  </div><!--container-->
  
<div class="container-fluid">

<h1 style=" font-style: italic;">Welcome to EasyJobs</h1>
<P style="font-size: 17px;" align="justify">“EASY JOBS” is a website where people can get information about jobs.
   People can get information of the jobs available in the company and apply 
   for the vacant jobs. People can send their CV to the related company with 
   the help of this website. This “EASY JOBS” will also help employer who are 
   searching employee for their company or Organization. Employer can easily 
   look the C.V of the candidates through this website and can accept or reject 
   the candidate. This website will be the bridge between the 
  job seeker and job giver. This website will be built mainly by using python
   language and Django web frame work. </P>
</div>
</div><!--container-->

<div class="container-fluid">
<h2 style="font-style:italic" >Why you should apply EasyJobs?</h2>



<div class="row">
  
  <div class="col-sm-4">
    <img src="{% static 'images/logo-1.png' %}" alt="banner" style="width: 100%;">
    <p style="font-size: 17px;" align="justify" >This “EASY JOBS” will also help employer who are 
      searching employee for their company or Organization. Employer can easily 
      look the C.V of the candidates through this website and can accept or reject 
      the candidate. This website will be the bridge between the 
     job seeker and job giver.</p>
  </div>
  <div class="col-sm-4">
    <p style="font-size: 17px;" align="justify">
    <img src="{% static 'images/camel-2.jpg' %}" alt="camel" style="width: 100%;">
    This “EASY JOBS” will also help employer who are 
    searching employee for their company or Organization. Employer can easily 
    look the C.V of the candidates through this website and can accept or reject 
    the candidate. This website will be the bridge between the 
   job seeker and job giver.
   </p>
  </div>
  <div class="col-sm-4">
    <img src="{% static 'images/book-3.jpg' %}" alt="banner" style="width: 100%;">
    <p style="font-size: 17px;" align="justify">
    This “EASY JOBS” will also help employer who are 
    searching employee for their company or Organization. Employer can easily 
    look the C.V of the candidates through this website and can accept or reject 
    the candidate. This website will be the bridge between the 
   job seeker and job giver.
   <p>
  </div>
</div><!--row-->

</div><!--container-->

<div class="footer">
<p>EasyJobs@2020</p>
</div>
</body>
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>



</html>